/* collective.behavior.sdg stylesheet */

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-01, div.faceted-widgets #sdgs_option_sdgs_01 label {
    background:url("++resource++collective.behavior.sdg/sdg-01-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-02, div.faceted-widgets #sdgs_option_sdgs_02 label {
    background:url("++resource++collective.behavior.sdg/sdg-02-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-03, div.faceted-widgets #sdgs_option_sdgs_03 label {
    background:url("++resource++collective.behavior.sdg/sdg-03-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-04, div.faceted-widgets #sdgs_option_sdgs_04 label {
    background:url("++resource++collective.behavior.sdg/sdg-04-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-05, div.faceted-widgets #sdgs_option_sdgs_05 label {
    background:url("++resource++collective.behavior.sdg/sdg-05-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-06, div.faceted-widgets #sdgs_option_sdgs_06 label {
    background:url("++resource++collective.behavior.sdg/sdg-06-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-07, div.faceted-widgets #sdgs_option_sdgs_07 label {
    background:url("++resource++collective.behavior.sdg/sdg-07-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-08, div.faceted-widgets #sdgs_option_sdgs_08 label {
    background:url("++resource++collective.behavior.sdg/sdg-08-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-09, div.faceted-widgets #sdgs_option_sdgs_09 label {
    background:url("++resource++collective.behavior.sdg/sdg-09-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-10, div.faceted-widgets #sdgs_option_sdgs_10 label {
    background:url("++resource++collective.behavior.sdg/sdg-10-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-11, div.faceted-widgets #sdgs_option_sdgs_11 label {
    background:url("++resource++collective.behavior.sdg/sdg-11-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-12, div.faceted-widgets #sdgs_option_sdgs_12 label {
    background:url("++resource++collective.behavior.sdg/sdg-12-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-13, div.faceted-widgets #sdgs_option_sdgs_13 label {
    background:url("++resource++collective.behavior.sdg/sdg-13-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-14, div.faceted-widgets #sdgs_option_sdgs_14 label {
    background:url("++resource++collective.behavior.sdg/sdg-14-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-15, div.faceted-widgets #sdgs_option_sdgs_15 label {
    background:url("++resource++collective.behavior.sdg/sdg-15-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-16, div.faceted-widgets #sdgs_option_sdgs_16 label {
    background:url("++resource++collective.behavior.sdg/sdg-16-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}

#form-widgets-ISustainableDevelopmentGoals-sdgs a.sdg-17, div.faceted-widgets #sdgs_option_sdgs_17 label {
    background:url("++resource++collective.behavior.sdg/sdg-17-nb.svg") left/18px no-repeat;
    padding-left: 20px;
}
